.react-grid-layout {

    position: relative;
}

.react-grid-item {

    transition: all 0.2s ease;
}

.react-grid-item.cssTransforms {

    transition-property: transform;
}

.react-grid-item.react-grid-placeholder {

    background: rgba(37, 99, 235, 0.15);

    border-radius: 24px;

    opacity: 0.3;
}

.react-grid-item>.react-resizable-handle {

    position: absolute;

    width: 28px !important;

    height: 28px !important;

    bottom: -8px !important;

    right: -8px !important;

    cursor: se-resize;

    z-index: 50;

    background: #2563eb;

    border-radius: 999px;

    border: 4px solid white;

    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.2);
}

.react-grid-item>.react-resizable-handle::after {

    display: none;
}

.layout {

    min-height: 900px;
}